main {
    display: grid;

    grid-template-areas: 
        "Title"
        "Table"
        "Resume"
    ;

    justify-content: center;
    align-items: center;

    gap: 5px;
}

h1 {
    grid-area: Title;
    text-align: center;
}

#resume {
    grid-area: Resume;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    gap: 1rem;
}

/* Estilos de la Tabla */

#tabla {
    display: block;
    border: 1px solid currentColor;
    /* text-indent: 20px; */
    text-overflow: clip;

    cursor: default;

    width: fit-content;

    grid-area: Table;
}

#tabla thead {
    display: flex;

    border-bottom: 1px solid currentColor;
    top: 0;
}

#tabla thead tr {
    display: flex;
    justify-content: space-between;

    width: -webkit-fill-available;
    margin: 5px;
}

#tabla thead th {
    width: 25%;
    text-align: center;
    text-wrap: pretty;
}

#tabla tbody {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    text-overflow: inherit;
    scroll-behavior: smooth;

    width: -webkit-fill-available;
}

#tabla tbody tr {
    width: -webkit-fill-available;
}

#tabla tbody td {
    width: 25%;
    text-align: center;
    text-wrap: pretty;
}

#tabla tfoot {
    display: block;
    border-top: 1px solid currentColor;
}

#tabla tfoot tr {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.25rem;
}

#tabla tfoot tr th {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2px;
}

#tabla tbody tr td + td {
    border-left: 1px solid currentColor;
}