:root {
    color-scheme: light dark;
    /* background-color: light-dark(beige, black);
    color: light-dark(black, beige); */
}

@media (prefers-color-scheme: dark) {
  body { background: #333; color: white; }
}

@media (prefers-color-scheme: light) {
  body { background: #ddd; color: black; }
}

* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;

    height: 100%;
    width: auto;

    justify-content: center;
    align-items: center;
}

main {
    display: grid;

    grid-template-areas: 
        "Title"
        "Table"
        "Resume"
    ;

    justify-content: center;
    align-items: center;

    gap: 5px;
}

h1 {
    grid-area: Title;
}

footer {
    display: block;
    align-items: center;
    justify-items: center;
}

.versionsList {
    display: flex;
    flex-direction: row;
    width: 100%;

    justify-content: space-around;

}

#resume {
    grid-area: Resume;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    gap: 1rem;
}

#tabla {
    display: block;
    border: 1px solid currentColor;
    text-indent: 20px;
    text-overflow: clip;

    cursor: default;

    width: fit-content;

    grid-area: Table;
}

#tabla thead {
    display: flex;

    border-bottom: 1px solid currentColor;
    top: 0;
}

#tabla thead tr {
    display: flex;
    justify-content: space-between;

    width: -webkit-fill-available;
    margin: 5px;
}

#tabla tbody {
    display: flex;
    overflow-y: auto;
    text-overflow: inherit;
    scroll-behavior: smooth;

    width: fit-content;
}

#tabla tfoot {
    display: block;
    border-top: 1px solid currentColor;

    width: fit-content;
}

h1 {
    text-align: center;
}

/* UI de CodePen */

.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox-label {
  background-color: #292929;
  width: 50px;
  height: 26px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-moon {color: #f1c40f;background-color: #292929;}

.fa-sun {color: #f39c12;background-color: #292929;}

.fa-moon::before {
    content: url('./Media/Moon.svg');
    color-scheme: dark;
}

.fa-sun::before {
    content: url('./Media/Sun.svg');
    color-scheme: light;
}

.checkbox-label .ball {
    background-color: #fff;
    width: 22px;
    height: 22px;
    position: absolute;
    left: 2px;
    top: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {
    transform: translateX(24px);
}