:root {
    color-scheme: light dark;
    --Primary-color: light-dark(#333, #f5f5dc);
    --Secundary-color: light-dark(#14163a, #6effdb);
    --Third-color: light-dark(#382310, #ffc17a);
    --Primary-bg: light-dark(#f5f5dc, #333333);
    --Secundary-bg: light-dark(#ffc18f, #170041);
    --Third-bg: light-dark(#4cff91, #0f3157);
    /* background-color: light-dark(beige, black);
    color: light-dark(black, beige); */
}

a {
    color: currentColor;
    text-decoration: none;

    transition-duration: 300ms;
}

a:hover {
    color: var(--Secundary-color);
    transform: scale(1.1);
}

a:active {
    color: var(--Secundary-color);
    transform: scale(1.1);
}

@media (prefers-color-scheme: dark) {
  body { background: #333; color: #f5f5dc; }
}

@media (prefers-color-scheme: light) {
  body { background: #f5f5dc; color: #333; }
}

* {
    box-sizing: border-box;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    padding: 0.5rem;
    width: -webkit-fill-available;
}

header ul {
    display: flex;
    flex-direction: row;

    gap: 1rem;
}

header ul li {
    list-style-type: none;


    border-bottom: solid 1px var(--Secundary-color);
    border-radius: 2px;

    transition-duration: 300ms;
}

header ul li:hover {
    transform: scale(1.1);
}

body {
    display: flex;
    flex-direction: column;

    height: 100%;
    width: auto;

    justify-content: center;
    align-items: center;
}

main {
    display: grid;

    grid-template-areas: 
        "Title"
        "Table"
        "Resume"
    ;

    justify-content: center;
    align-items: center;

    gap: 5px;
}

h1 {
    grid-area: Title;
}

footer {
    display: block;
    align-items: center;
    justify-items: center;

    width: 100%;
}

.versionsList {
    display: flex;
    flex-direction: row;
    width: 100%;

    justify-content: space-around;

}

#resume {
    grid-area: Resume;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    gap: 1rem;
}

/* Estilos de el Modal */

/* Estilo de el fondo de el Modal */
.modal {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    backdrop-filter: blur(8px) brightness(0.8);
    
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilo de el Formulario de el Modal */
.modal form {
    background-color: var(--Secundary-bg);
    backdrop-filter: brightness(1.1);
    padding: 1rem;
    border-radius: 0.5rem;

    display: flex;
    flex-direction: column;


}

.modal form label {
    display: flex;
    flex-direction: column;

    gap: 0.5rem;

    input, select {
        margin-left: 1rem;
        padding: 0.25rem;

        border-radius: 12px;
    }
}

.modal header {
    position: fixed;
    right: 5%;

    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;

    padding: 0rem;
}

.modal footer {
    display: flex;
    justify-content: space-around;
    align-items: center;

    margin-top: 1.5rem;

}

.cerrar {
    position: relative;
    width: 20px;
    height: 20px;
}

.cerrar > div {
    position: absolute;
    top: 45%; left: 0%;
    width: 100%;
    height: 10%;

}

.line1 {
    transform: rotate(45deg);
    background-color: red;
    content: " ";
}

.line2 {
    transform: rotate(315deg);
    background-color: red;
    content: " ";
}

/* Estilo que esconde el Modal */

.hidden {
    display: none;
}


/* Estilos de la Tabla */

#tabla {
    display: block;
    border: 1px solid currentColor;
    /* text-indent: 20px; */
    text-overflow: clip;

    cursor: default;

    width: fit-content;

    grid-area: Table;
}

#tabla thead {
    display: flex;

    border-bottom: 1px solid currentColor;
    top: 0;
}

#tabla thead tr {
    display: flex;
    justify-content: space-between;

    width: -webkit-fill-available;
    margin: 5px;
}

#tabla thead th {
    width: 25%;
    text-align: center;
    text-wrap: pretty;
}

#tabla tbody {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    text-overflow: inherit;
    scroll-behavior: smooth;

    width: -webkit-fill-available;
}

#tabla tbody tr {
    width: -webkit-fill-available;
}

#tabla tbody td {
    width: 25%;
    text-align: center;
    text-wrap: pretty;
}

#tabla tfoot {
    display: block;
    border-top: 1px solid currentColor;
}

#tabla tfoot tr {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.25rem;
}

#tabla tfoot tr th {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2px;
}

#tabla tbody tr td + td {
    border-left: 1px solid currentColor;
}

h1 {
    text-align: center;
}

/* UI de CodePen */

.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox-label {
  background-color: #292929;
  width: 50px;
  height: 26px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-moon {color: #f1c40f;background-color: #292929;}

.fa-sun {color: #f39c12;background-color: #292929;}

.fa-moon::before {
    content: url('./Media/Moon.svg');
    color-scheme: dark;
}

.fa-sun::before {
    content: url('./Media/Sun.svg');
    color-scheme: light;
}

.checkbox-label .ball {
    background-color: #fff;
    width: 22px;
    height: 22px;
    position: absolute;
    left: 2px;
    top: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {
    transform: translateX(24px);
}

@media (width >= 400px) {
    #tabla {
        width: 480px;
    }
}

@media (max-width: 1250px) {
    
}

@media (max-width: 1920px) {
    
}