main {
    display: grid;

    width: 100%;
    height: auto;

    grid-template-areas: 
        "Title Title"
        "Gas Luz"
        "Agua Internet"
    ;

    justify-content: space-between;
    align-items: center;

    padding: 2px;

    gap: 5px;
}

article {
    background-color: var(--Secundary-bg);

    border-radius: 2rem;

    width: 375px;
    max-height: 200px;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    overflow-y: auto;

    transition: 300ms cubic-bezier(0.075, 0.82, 0.165, 1) all;

    cursor: pointer;
}

article:hover {
    transform: scale(1.05);
}

article section {
    display: flex;

    gap: 0.25rem;

    align-items: center;
    
    margin-bottom: 0.4rem;
    padding: 0.5rem;

    div {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
        text-align: center;
    }
    span {
        color: var(--Secundary-color);
    }
}

article footer {
    display: flex;
    flex-direction: row;

    justify-content: space-around;
    align-items: center;

    gap: 0.25rem;
    padding-bottom: 0.25rem;
}

h4 {
    text-align: center;
    color: var(--Third-color);
}

figure {
    text-align: center;
    color: currentColor;
    text-wrap: pretty;
    margin: 0;
    padding: 2px;

    /* border-radius: 1rem;
    border: solid 1px currentColor; */
}

.Gas {
    grid-area: Gas;
}

.Agua {
    grid-area: Agua;
}

.Luz {
    grid-area: Luz;
}

.Internet {
    grid-area: Internet;
}

.Pendiente {
    color: light-dark(white, red);
}

.porLlegar {
    color: light-dark(orange, orange)
}

.Pagado {
    color: light-dark(green, green)
}